@import '../../variables.scss';

.wrapper {
    background-color: $gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $baseBorderRadius;
    max-width: 100%;
    width: 263px;
    height: 263px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        transform: scale(1.05);
        background-color: $darkGrayMinus;
    }
}

.avatar {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    margin-bottom: 31px;
    img {
        max-width: 100%;
        border-radius: 50%;
    }
}

.info {
    text-align: center;
    p:first-child {
        margin-bottom: 12px;
        font-size: 24px;
    }
}