.wrapper {
    padding: 100px;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 53px;
    & > * {
        width: 35%;
        min-width: 300px;
    }
}

.user_list {
    display: flex;
    justify-content: center;
    margin-bottom: 53px;
}

.no_user_list {
    text-align: center;
}

.top {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}